@charset="UTF-8";

.logo{
   width: 40%;
}

img{
   width: 75%;
}
#conteudoExemplo{
   text-align: left;

}
.nota{
    display:block;
    width:130px;
    height:21px;
    background: #76003A url(_imagens/bar.png) repeat-y;
}
.logo{
    width: 60%;
}
.nota:hover{
    background-position:0px 0px !important;
}
.nota i{
    display: block;
    width: 130px;
    height: 100%;
    background: url(_imagens/moldura_estrela.png) repeat-x;
}
.nota a:link{
    display:block;
    float:left;
    width:20%;
    opacity:0;
}
.nota img{
    width:100%;
    height:auto;
    background:#76003A;
}
.nota>i>a:hover ~ a:link{
    opacity:1;
}